* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.koka {
    background-color: dodgerblue;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

.fa {
    text-decoration: none;
    color: white;
    width: 8x;
    font-size: 1px;
}

.fa-facebook {
    padding-left: 12%;
}

.fa-twitter {
    padding-left: 1%;
}

.fa-google {
    padding-left: 1%;
}

.fa-linkedin {
    padding-left: 1%;
}

.fa-phone {
    padding-left: 22%;
}

.fa-clock-o {
    padding-left: 10px;
}

.fa-envelope {
    padding-left: 10px;
}
.logo {
    float: left;
    padding-left: 10%;
}

.navigimi {
    margin: 30px;
    overflow: hidden;
    background-color: white;
    padding-left: 20%;
}

.navigimi a {
    float: left;
    display: block;
    color: black;
    text-align-last: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navigimi a:hover {
    background-color: dodgerblue;
    color: white;
    transition: 0.5s ease;
}

.navigimi a.active {
    background-color: dodgerblue;
    color: white;
}

#kohatani {
    background-color: skyblue;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-left: 50px;
}


.permbajtja1 {
    margin: 50px;
    padding: 8px;
    background: url(foto/foto1.png) repeat-x;
    width: 100%;
    height: 100%;
}

.titulli1 {
    height: 30px;
    width: 250px;
    padding: 7px;
    margin-left: 760px;
    margin-top: 60px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 23px;
    font-family: Arial;
    background-color: dimgray;
    border-radius: 50px;
    opacity: 0.7;
}

#titulli2 {
    height: 30px;
    width: 400px;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: deepskyblue;
    border-radius: 50px;
    margin-left: 680px;
    opacity: 0.9;
}

#paragrafi {
    font-family: Arial;
    font-size: 15px;
    margin-left: 655px;
    margin-top: 10px;
}

.btndetajet {
    margin: 5px;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border-color: dodgerblue;
    font-size: 15px;
    margin-left: 840px;
    margin-top: 30px;
}

.btndetajet:hover {
    background: deepskyblue;
    color: black;
}

.seksioni2 {
    margin-top: 28%;
}

.permbajtja2 {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stafi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -40px;
}

.kolona1 {
    width: 246px;
    height: 137px;
    background-color: #33C7FF;
    color: white;
}

.kolona1 p {
    text-align: center;
}

.kolona2 {
    width: 246px;
    height: 127px;
    padding-top: 10px;
    background-color: #33E0FF;
    color: white;
}

.kolona2 p {
    text-align: center;
}

.kolona3 {
    width: 246px;
    height: 137px;
    background-color: #33C7FF;
    color: white;
}

.kolona3 p {
    text-align: center;
    margin-top: -10px;
}

.kolona4 {
    width: 246px;
    height: 137px;
    background-color: #33E0FF;
    color: white;
}

.kolona4 p {
    text-align: center;
    margin-top: -20px;
}

.kolona-mjeku1 img {
    border: 4px solid silver;
    margin-left: 30%;
    width: 70%;
    height: 319px;
}

.kolona-mjeku2 {
    margin-left: 15%;
    width: 70%;
    height: 319px;
    border: 4px solid silver;
}

.kolona-mjeku3 {
    width: 68%;
    height: 320px;
    border: 4px solid silver;
}

.orari-sherbimet {
    margin-left: 10%;
    margin-top: 3%;
}

.korniza-majt {
    padding: 5px;
    float: left;
    width: 25%;
    border: 5px solid silver;
}

.korniza-majt .fa {
    color: blue;
}

.korniza-majt h1 {
    font-family: sans-serif;
    font-size: 12px;
    color: silver;
}

.korniza-majt p {
    font-size: 20px;
    color: dodgerblue;
}

.btnkontakti {
    margin: 10px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 100px;
}

.btnkontakti:hover {
    background: red;
    color: black;
    transition: 0.5s;
}

.korniza-djatht {
    width: 630px;
    height: 433px;
    margin-left: 5%;
    float: left;
}

.kolonat {
    column-count: 2;
    column-gap: 60px;
    column-span: all;
}

.seksioni3 {
    float: left;
    margin-top: 30px;
}

.prapavija-se3 {
    background-image: url(foto/foto2.jfif);
    width: 1200px;
    height: 660px;
    text-align-last: center;
    padding: 30px;
}

.departamentet {
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 990px;
    height: 470px;

}

.departamenti1 {
    margin: 2px;
    width: 195px;
    height: 120px;
    background-color: dodgerblue;
}

.departamenti1 img {
    width: 80px;
    padding-bottom: 5px;
}

.departamenti2 {
    margin: 2px;
    width: 195px;
    height: 120px;
    background-color: white;
}

.departamenti2 img {
    width: 80px;
}

.departamenti3 {
    margin: 2px;
    width: 195px;
    height: 120px;
    background-color: white;
}

.departamenti3 img {
    width: 80px;
    padding-bottom: 7px;
}

.departamenti4 {
    margin: 2px;
    width: 195px;
    height: 120px;
    background-color: white;
}

.departamenti4 img {
    width: 80px;
    padding-bottom: 3px;
}

.departamenti5 {
    margin: 2px;
    width: 195px;
    height: 120px;
    background-color: white;
}

.departamenti5 img {
    width: 80px;
    padding-bottom: 5px;
}

.permbajtja-departamentet {
    margin: -340px;
    margin-left: 98px;
    padding: 10px;
    background-color: white;
    width: 970px;
    height: 390px;
}

.teksti-departamentet {
    float: left;
    width: 60%;
}

.departamentet-detaje {
    column-count: 2;
    column-gap: 50px;
    column-span: all;
    color: silver;
}

.detaje-dep {
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    color: white;
    background-color: dodgerblue;
    width: 120px;
    padding: 8px;
    border-radius: 10px;
}

.detaje-dep:hover {
    background: red;
    color: black;
    transition: 0.5s;
}

.foto-departamentet img {
    border: 5px solid silver;
    width: 370px;
    height: 340px;
    margin-top: -400px;
    margin-left: 550px;
}

.statistikat {
    background-color: dodgerblue;
    width: 1200px;
    height: 150px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    opacity: 0.8;
}

.vizitor {
    width: 200px;
    text-align-last: center;
    margin-left: 32%;
    color: white;
    font-size: 15px;

}

.vizitor p {
    font-size: 60px;
    color: black;
}

.sherbime {
    width: 200px;
    text-align-last: center;
    padding-top: 20px;
    color: white;
    font-size: 15px;
    margin-left: 40px;
}

.sherbime p {
    font-size: 43px;
    color: black;
    padding-bottom: 20px;
}

.puntoret {
    width: 200px;
    text-align-last: center;
    padding-top: 7px;
    color: white;
    font-size: 15px;
}

.puntoret p {
    font-size: 50px;
    color: black;
    padding-bottom: 20px;
}

.pikat {
    width: 200px;
    text-align-last: center;
    padding-top: 5px;
    color: white;
    font-size: 15px;
    margin-left: -30px;
}

.pikat p {
    font-size: 50px;
    color: black;
    padding-bottom: 20px;
}

.cmimorja {
    background-image: url(Fotografit/prapavija-departamentet.jfif);
    width: 1180px;
    height: 570px;
    padding: 40px;
    text-align-last: center;
}

.cmimorja h1 {
    font-family: Arial;
    font-size: 20px;
}

.cmimorja p {
    color: gray;
}

.cmimorja h4 {
    width: 700px;
    margin-left: 270px;
    color: gray;
}

.ofertat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}

.ofertat h6 {
    font-family: cursive;
    color: dodgerblue;
    font-size: 25px;
}

.oferta1 {
    background-color: azure;
    border: 10px solid silver;
    width: 330px;
    height: 370px;
    padding: 10px;
}

.oferta2 {
    background-color: azure;
    border: 10px solid silver;
    width: 330px;
    height: 370px;
    padding: 10px;
}

.oferta3 {
    background-color: azure;
    border: 10px solid silver;
    width: 330px;
    height: 370px;
    padding: 10px;
}

.btnporosit {
    background-color: dodgerblue;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}

.btnporosit:hover {
    color: black;
    background-color: red;
    width: 120px;
    transition: 1s;
}

.klientet {
    background-color: skyblue;
    color: seashell;
    width: 1200px;
    padding: 30px;
    padding-top: 3%;
    text-align-last: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}

section .klienti {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
}

section .klienti:hover {
    transform: scale(1);
}

section::-webkit-scrollbar {
    height: 3px;
    width: 1px;
    border: 1px solid skyblue;
    background-color: gainsboro;
}

section::-webkit-scrollbar-thumb {
    background-color: lightcoral;
    outline: 1px solid deepskyblue;
}

.klientet h1,
h2,
h4 {
    margin-left: 350px;
}

.klientet p {
    width: 500px;
    height: 40px;
    margin-left: 340px;
}

.active {
    background-color: dodgerblue;
}

.lajmet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.titulli-seksioni6 p {
    width: 550px;
    margin-left: 370px;
}


#titulli{
    text-align: center;
}

.paragrafi{
    text-align: center;
}

.lajmet h1 {
    font-family: Arial;
    font-size: 15px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#lajmi1 {
    width: 330px;
    height: 475px;
    margin-left: 30px;
    background-color: lightgray;
}

#lajmi1 a {
    float: left;
    margin-left: 10px;
}

#lajmi1 p {
    width: 300px;
    margin-left: 10px;
    font-size: 15px;
}


.shikodetajet {
    background: none;
    padding: 3px;
    border: none;
}

.shikodetajet:hover {
    background: white;
    color: black;
    transition: 0.5s;
}
